# DashScope / GenBlaze API Settings
DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
DASHSCOPE_IMAGE_URL=https://dashscope-intl.aliyuncs.com/api/v1/services/aigc/multimodal-generation/generation
DASHSCOPE_IMAGE_MODEL=z-image-turbo
DASHSCOPE_TEXT_MODEL=qwen3.5-flash
DASHSCOPE_IMAGE_SIZE=1280*720
